# Node modules and lock files
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache directories
.npm/
.pnpm-store/

# Editor configs, build dirs, system files (si ke tashmë)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/
*.lcov
*.tmp
*.lock
.cache/
Thumbs.db
Desktop.ini
*.log
*.bak
*.old
